@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local("Source Sans Pro Regular"), local("SourceSansPro-Regular"), url("/font/source-sans-pro-v11-latin-regular.woff2") format("woff2"), url("/font/source-sans-pro-v11-latin-regular.woff") format("woff"); }

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local("Source Sans Pro Bold"), local("SourceSansPro-Bold"), url("/font/source-sans-pro-v11-latin-700.woff2") format("woff2"), url("/font/source-sans-pro-v11-latin-700.woff") format("woff"); }

@font-face {
  font-family: 'JSORG';
  font-style: normal;
  font-weight: 800;
  src: url(https://js.org/font/jsorg.eot);
  src: url(https://js.org/font/jsorg.eot?#iefix) format("embedded-opentype"), url("data:font/x-woff;base64,d09GRgABAAAAAAqAAAsAAAAACjQAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABPUy8yAAABCAAAAGAAAABgDtEDvWNtYXAAAAFoAAAAXAAAAFzmT+a2Z2FzcAAAAcQAAAAIAAAACAAAABBnbHlmAAABzAAABmQAAAZkN4H3TWhlYWQAAAgwAAAANgAAADYGPST/aGhlYQAACGgAAAAkAAAAJAgBBAxobXR4AAAIjAAAACwAAAAsIAABEmxvY2EAAAi4AAAAGAAAABgFcAdSbWF4cAAACNAAAAAgAAAAIAATAHFuYW1lAAAI8AAAAW4AAAFuw5yfo3Bvc3QAAApgAAAAIAAAACAAAwAAAAMEAAGQAAUAAAKZAswAAACPApkCzAAAAesAMwEJAAAAAAAAAAAAAAAAAAAAARAAAAAAAAAAAAAAAAAAAAAAQAAA5hMEAAAAAAAEAAAAAAAAAQAAAAAAAAAAAAAAIAAAAAAAAwAAAAMAAAAcAAEAAwAAABwAAwABAAAAHAAEAEAAAAAMAAgAAgAEAAEAIOYC5hP//f//AAAAAAAg5gDmEP/9//8AAf/jGgQZ9wADAAEAAAAAAAAAAAAAAAAAAQAB//8ADwABAAAAAAAAAAAAAgAANzkBAAAAAAEAAAAAAAAAAAACAAA3OQEAAAAAAQAAAAAAAAAAAAIAADc5AQAAAAADAAAAAAQABAAABAAVAD4AAAERIREhASMRFAYjIiYnBx4BMzI2NREBNCYvAS4BNTQ2MzIWFzcuASMiBhUUFh8BHgEVFAYjIiYnBx4BMzI2NQQA/AAEAP4zZh0cESIMRhhHNEtGAYAwKjodKB8bGywXNB1OJ0dbOCM7HiQgHx07GToiWS1RWgQA/AAEAP4z/tsuIRYXNCkpXkEBLv7ALzsQGAwVFBQVEhJBHR9PODI8DhkMFBYUFxoVRiEhVDkAAAAHAAAAAAQABAAADAAZACgAMgBRAFYAWwAANzI2NTQmIyIGFRQWMzUiJjU0NjMyFhUUBiMFJz4BNTQmKwERMzUzFzMnMzIWFRQGKwE1BTI2NzUjFTMVDgEjIiY1NDYzMhYXNy4BIyIGFRQWMxMhESERNxEhESH2OEVFODhFRTgcIiIcHCEhHAGMPxYbPixkPyI1Rp0gGBoaGCABQB0wDmUuBRAJJicpIBEYCyANLB04T045qPxmA5oz/AAEAG9MRENKSkNETDUxKikvLykqMTFuCicfMSX+7GNj4xAVFBVO5xMOfzMvBAUvKykwDQknDhZMREZHA178ZgOaM/wABAAABwAAAAAEAAIAAAwAGQAoADIAUQBWAFsAADcyNjU0JiMiBhUUFjM1IiY1NDYzMhYVFAYjBSc+ATU0JisBETM1MxczJzMyFhUUBisBNQUyNjc1IxUzFQ4BIyImNTQ2MzIWFzcuASMiBhUUFjMTIREhETcRIREh9DhFRTg4RUU4HCEhHBwhIRwBjD8WGz4sZD8iNUadIBgaGhggAUAdMA5lLgUQCSYnKSASFwsgDSwdOE9OOar8ZgOaM/wABABvTERDSkpDREw7MSkqLi4qKTE3bgonHzEl/uxjY+gQFBQVTewTDn8zLwQFLyspMA0JJw4WTERGRwFe/mYBmjP+AAIAAAEBEgAAAu4EAAAgAAABByMcAzEjMDwCNSM1MzU0PgIzFxUwIiMiBh0BMwLuE4/VZWUSMFNCnWQODh+iArS0VraVX1+Utle0dSBLQCwBrxMeawAAAAEAAABgBAADoABHAAABFhQVFA4CIyIuAiceATMyNjcuASceATMyNjcuATUwNDEeARcuATU0NjceAxcuATU0PgIzMhYXPgE3DgEHPgE3DgEHA5cBTpjfkSxWUUwjDBkNSoU2RWsUCRQKDxsOSGEVMBoqMw8NJ2Bue0ECAyE5TCwtUBwkQx8MMCEgPRwVNR8C0QcNB2jVrG0NGCMWAQIwKgJSPgICBAQOc00CCw4BHFw3HTUYME45IgMMGAwsTDkhJB4HGhIlPBMDEQ0gNxYAAAAEAAAAAAQABAAADABIAF0AagAAARUjFSM1IzUzNTMVMyUjHgEVFAYHDgEVFBYXHgEVFA4CIyIuAjU0PgIzOgEzLgE1NDY3BiIjIi4CNTQ+AjM6AzEHAy4BIyYOAhUUFjMyNjU0JicuAScTLgEnJgYXHgEXFjYnBACMRYuLRYz+SE8qKzInJhZDFUktLVR3S0J2WDQsT25BDxsNEhkJBwcPBzZVOx4sTWY5HmZiSEOnEigVLVI9JHZbgGYCAgpJMTQKXj09RwoLZT09PwoDZ0aLi0aLi1IYXDYyUR8eIxkWNxA3V0UqUkAnGjBFKixVQykSIxoQHg0BIz5TMC5WQidH/b0FBwEbLj0iRWNfRQgQCCc1IwGUUHMCAmxQUGYCAl9QAAAABAAAACYEAAOEAAwAGQBWAG4AAAEUBiMiJjU0NjMyFhUlIgYVFBYzMjY1NCYjBRQOAisBIi4CNTQ2NyY2MTYWFz4BOwEyFhc+ARc4ATE4ATM4ARU4ATEwFhc4ATEwFjE4ATEeAQceARUHLgEHDgEHBiYnJgYHBhYXHgEyNjc+AScBiS8gIS4uISAvATcgLy8gIS4uIQFAK16Xa+pvl10oLCceMUJxKBIlFOkTJxMockEBAQEBCSAaJiqHC0dULnY+NGQoU0gKC1xgMWFhYTBhYgsBNDFHRzEyR0cyeUcyMUdHMTJHBVCMaT09aYxQQ3gxcIABPyMDBAQEJD8BAQIBAhJ8XzF2Qm1NbAUCEwEBEQIFaE1OfgUDAwMDBX5OAAAAAQAAAAEAAPYuiNlfDzz1AAsEAAAAAADRj3ABAAAAANGPcAEAAAAABAAEAAAAAAgAAgAAAAAAAAABAAAEAAAAAAAEAAAAAAAEAAABAAAAAAAAAAAAAAAAAAAACwQAAAAAAAAAAAAAAAAAAAAEAAAABAAAAAQAAAAEAAESBAAAAAQAAAAEAAAAAAAAAAAKABQAHgB+AP4BfgGoAhACogMyAAEAAAALAG8ABwAAAAAAAgAAAAAAAAAAAAAAAAAAAAAAAAAOAK4AAQAAAAAAAQAFAAAAAQAAAAAAAgAHAE4AAQAAAAAAAwAFADAAAQAAAAAABAAFAGMAAQAAAAAABQALAA8AAQAAAAAABgAFAD8AAQAAAAAACgAaAHIAAwABBAkAAQAKAAUAAwABBAkAAgAOAFUAAwABBAkAAwAKADUAAwABBAkABAAKAGgAAwABBAkABQAWABoAAwABBAkABgAKAEQAAwABBAkACgA0AIxqc29yZwBqAHMAbwByAGdWZXJzaW9uIDEuMABWAGUAcgBzAGkAbwBuACAAMQAuADBqc29yZwBqAHMAbwByAGdqc29yZwBqAHMAbwByAGdSZWd1bGFyAFIAZQBnAHUAbABhAHJqc29yZwBqAHMAbwByAGdGb250IGdlbmVyYXRlZCBieSBJY29Nb29uLgBGAG8AbgB0ACAAZwBlAG4AZQByAGEAdABlAGQAIABiAHkAIABJAGMAbwBNAG8AbwBuAC4AAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA") format("woff"), url("https://js.org/font/jsorg.eot?#iefix") format("embedded-opentype"); }

html {
  background-color: #FFE70B; }

body {
  padding: 0 5%;
  color: #2c251b;
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%; }
  body:after {
    content: "";
    position: fixed;
    top: 0;
    height: 100%;
    left: 0;
    right: 0;
    z-index: -1;
    background: url(/15406432865_b52d281745_o_low.jpg) 88% 70%;
    background-size: cover; }


::-webkit-scrollbar {
  width: .5em; }

::-webkit-scrollbar-track {
  background: rgba(44, 37, 27, 0.3); }

::-webkit-scrollbar-thumb {
  background: rgba(44, 37, 27, 0.5); }

::-webkit-scrollbar-thumb:active {
  background: #2c251b; }

p {
  margin: 1.5em 0; }
  p.bigger {
    font-size: 1.4em;
    margin-top: .2em; }

a {
  color: #2c251b;
  outline: none;
  border: none;
  text-decoration: none;
  font-weight: 700; }

.icon {
  font-family: 'JSORG';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.hf {
  margin: 1.5em -4px;
  border-collapse: separate;
  border-spacing: 4px; }
  .hf td {
    vertical-align: bottom;
    margin: 0;
    padding: 0; }
    .hf td.hr {
      border-top: 2px solid rgba(44, 37, 27, 0.3); }
  .hf .logo {
    width: 100%;
    font-size: 5em; }
  .hf span {
    padding-left: 4px; }
  .hf .logo.small {
    font-size: 1.25em; }
  .hf .logo.small span {
    display: inline-block;
    line-height: 0;
    font-size: 2em;
    padding-left: 2px;
    vertical-align: top; }
  .hf .tw {
    display: block;
    width: 1.2em;
    line-height: 1.2em;
    text-align: center;
    font-size: 2em;
    color: #2c251b; }
  .hf .gh {
    padding: 2px 6px;
    margin: -2px -6px;
    line-height: 1.25em;
    width: auto;
    white-space: nowrap;
    color: #2c251b; }
    .hf .gh span {
      min-width: 30px;
      display: none;
      padding-left: .4em;
      font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
      font-weight: 700;
      vertical-align: top; }
  .hf .update {
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
    white-space: nowrap; }
  .hf .at {
    font-size: .8em; }
  .hf .at span {
    float: right; }
    .hf .at span a {
      font-weight: 400; }

  .hf .donate {
    width: 100%;
    font-size: 1.25em;}
  .hf .donate .full {
    display:none; }


@media (min-aspect-ratio: 1920 / 1280) {
  body {
    margin: 7vh 8% 3vh 51%; }
  .hf .donate .full {
    display:inline; }
  .hf .donate .mobile {
    display:none; } }

@media (min-aspect-ratio: 1920 / 1280) and (max-width: 680px) {
.hf .logo {
    font-size: 3.5em; } }

@media (max-aspect-ratio: 1920 / 1280) {
  body {
    max-width: 46vh;
    margin: 9vh 8% 3vh auto; } }

::selection {
  color: #FFE70B;
  background: #2c251b; }

em {
  letter-spacing: .1em;
  font-style: normal;
  background: #2c251b;
  color: #FFE70B;
  padding: 0 5px 1px 5px;
  margin: 0 6px 0 1px; }

a:hover {
  color: rgba(44, 37, 27, 0.6);
  transition: all .2s; }

.hf .tw:hover,
.hf .gh:hover {
  color: rgba(44, 37, 27, 0.6); }

#err404 {
  text-align: center; }
  #err404 span {
    font-size: 5.5em;
    line-height: 1em;
    font-weight: 700; }

#typewriter {
  font-size: 2.5em;
  margin: 0; }
  #typewriter #hermes {
    /*-moz-transition: all .2s .1s;
    -o-transition: all .2s .1s;
    -webkit-transition: all .2s .1s;
    transition: all .2s .1s;*/ }
  #typewriter #hermes.active {
    padding-right: .1em;
    border-right: 2px solid #2c251b; }

section {
  position: relative;
  padding: .5em 1px;
  margin: 1.5em 1px;
  color: #FFE70B; }
  section a {
    font-weight: 700;
    color: #FFE70B;
    border-bottom: 1px solid currentColor;
    display: inline-block;
    line-height: 1;
    text-shadow: 1px 1px #2c251b, 1px -1px #2c251b, -1px 1px #2c251b, -1px -1px #2c251b; }
    section a:hover {
      color: rgba(255, 231, 11, 0.5); }
  section input {
    position: absolute;
    opacity: 0;
    top: 0;
    left: -999px; }
    section input:checked + article {
      display: inline-block; }
    section input#s1I:checked ~ nav #s1L,
    section input#s2I:checked ~ nav #s2L,
    section input#s3I:checked ~ nav #s3L,
    section input#s4I:checked ~ nav #s4L {
      background-color: #2c251b;
      color: #FFE70B; }
  section nav {
    display: inline-table;
    border-collapse: collapse;
    margin: 0;
    color: #2c251b; }
    section nav label {
      cursor: pointer;
      display: table-cell;
      border: 2px solid #2c251b;
      border-top: none;
      left: 0;
      font-weight: 700;
      font-size: 1em;
      height: 2em;
      width: 2em;
      line-height: 2em;
      text-align: center;
      margin: 0;
      padding: 0;
      -moz-transition: all .3s;
      -o-transition: all .3s;
      -webkit-transition: all .3s;
      transition: all .3s; }
      section nav label:hover {
        background: rgba(44, 37, 27, 0.3);
        color: #2c251b; }
  section article {
    display: none;
    background-color: #2c251b;
    margin: 0;
    padding: 1.2em; }
    section article h3 {
      float: left;
      color: #FFE70B;
      border-right: 2px solid #FFE70B;
      font-size: 4em;
      width: 1em;
      padding-top: .2em;
      text-align: center;
      line-height: .75em;
      font-weight: 700;
      margin: -.2em .3em .1em -.2em; }

@media screen and (max-width: 640px) {
  section article h3 {
    font-size: 2em;
    padding-top: .4em;
    margin: -.6em .6em 0 0; }
  #typewriter {
    font-size: 2em; } }

@media screen and (max-width: 480px) {
  #typewriter {
    font-size: 1.5em;
    font-weight: 700; } }
