<table class="hf">
      <tr class="icon"><td class="logo"><a title="JS.ORG | Dedicated to JavaScript and its awesome community since 2015" href="http://js.org">&#xe600;<span>&#xe601;</span></a></td><td><a class="fb" title="Facebook" rel="nofollow" target="_blank" href="https://www.facebook.com/pages/JSORG/599873160157196">&#xe610;</a></td><td><a class="tw" title="Twitter" rel="nofollow" target="_blank" href="https://twitter.com/JS_ORG">&#xe611;</a></td><td><a class="gp" title="Google+" rel="nofollow" target="_blank" href="https://plus.google.com/+JsOrg0">&#xe612;</a></td></tr>
      <tr><td colspan="4" class="hr"><h1 class="serif">{% if page.claim %}{{page.claim}}{% else %}Gathering statistics on JavaScript projects since 2015{% endif %}</h1></td></tr>
   </table>
