@import "vars";

p {
    margin: 2em 0;
}

#typewriter {
  padding-left: 0.4em;
  font-size: 1.5em;
  line-height: 1.25em;
  display: inline-block;
  .active {
    border-right: 0.1em solid $key;
    padding-right: 0.1em;
    line-height: 0em;
  }
}

section {
  margin: 1.8rem 0;
  color: $key;

  input {
    position: absolute;
    opacity: 0;
    left: -99px;
    &:checked + article {
      display: inline-block;
    }
    &#s1I:checked ~ nav #s1L,
    &#s2I:checked ~ nav #s2L,
    &#s3I:checked ~ nav #s3L,
    &#s4I:checked ~ nav #s4L {
      color: currentColor;
      background: $txt;
    }
  }

  nav {
    display: inline-table;
    border-collapse: collapse;
    margin: 0;
    & label {
      color: $txt;
      user-select: none;
      outline: none;
      cursor: pointer;
      display: table-cell;
      border: 2px solid $txt;
      border-top: none;
      left: 0;
      font-weight: 600;
      font-size: 1em;
      height: 2em;
      width: 2em;
      line-height: 2em;
      text-align: center;
      margin: 0;
      padding: 0;
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      &:hover {
        background: fade-out($txt, .8);
        color: $txt;
      }
    }
  }

  article {
    display: none;
    background: $txt;
    margin: 0;
    padding: 1.2em;
    h3 {
      float: left;
      border-right: 2px solid currentColor;
      font-size: 4em;
      width: 1em;
      padding-top: 0.2em;
      text-align: center;
      line-height: 0.75em;
      font-weight: 600;
      margin: -0.2em 0.3em 0.1em -0.2em;
    }
  }
}

em,
section {
  ::selection {
    color: $txt;
    background: $key;
  }

  a {
    font-weight: 600;
    border-bottom: 1.5px solid currentColor;
    display: inline-block;
    line-height: 1;
    text-shadow: 1px 1px $txt, 1px -1px $txt, -1px 1px $txt, -1px -1px $txt;

    &:hover {
      color: rgba(255, 231, 11, 0.5);
    }
  }
}

#cad {
  position: relative;
  margin: 4px 0 10px 20px;
  float: right;
}

#redir {
  display: none;
  clear: both;
  em {
    margin: 0 5em;
    display: block;
    text-align: center;
  }
}


@media only screen and (min-width: $break_s) {
  #typewriter {
    font-size: 2em;
  }
}


@media only screen and (min-width: $break_l) {
  #typewriter {
    font-size: 3.5em;
  }

}
