@import "vars";

body::before {
  content: "\"Peace is not everything, but without peace, everything is nothing\" - Willi Brandt";
  display: block;
  width:100%;
  z-index: -1;
  color:#6182a8;
  margin:-5vh auto 5vh;
  text-align: center;
  font-size: 1rem;
  font-style: italic;
  opacity: 0;
  animation: fadeIn 1s 3s ease-out forwards;
}
body::after {
  content: " ";
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 50vh;
  z-index: -2;
  background: #0057b8;
  opacity: 0;
  animation: fadeIn 1s 2s ease-out forwards;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

p {
  margin: 2em 0;
}

#typewriter {
  padding-left: 0.4em;
  font-size: 1.5em;
  line-height: 1.25em;
  display: inline-block;
  .active {
    border-right: 0.1em solid $key;
    padding-right: 0.1em;
    line-height: 0em;
  }
}

section {
  margin: 1.8rem 0;
  color: $key;

  input {
    position: absolute;
    opacity: 0;
    left: -99px;
    &:checked + article {
      display: inline-block;
    }
    &#s1I:checked ~ nav #s1L,
    &#s2I:checked ~ nav #s2L,
    &#s3I:checked ~ nav #s3L,
    &#s4I:checked ~ nav #s4L {
      color: currentColor;
      background: $txt;
    }
  }

  nav {
    display: inline-table;
    border-collapse: collapse;
    margin: 0;
    & label {
      color: $txt;
      user-select: none;
      outline: none;
      cursor: pointer;
      display: table-cell;
      border: 2px solid $txt;
      border-top: none;
      left: 0;
      font-weight: 600;
      font-size: 1em;
      height: 2em;
      width: 2em;
      line-height: 2em;
      text-align: center;
      margin: 0;
      padding: 0;
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      &:hover {
        background: fade-out($txt, 0.8);
        color: $txt;
      }
    }
  }

  article {
    display: none;
    background: $txt;
    margin: 0;
    padding: 1.2em;
    h3 {
      float: left;
      border-right: 2px solid currentColor;
      font-size: 4em;
      width: 1em;
      padding-top: 0.2em;
      text-align: center;
      line-height: 0.75em;
      font-weight: 600;
      margin: -0.2em 0.3em 0.1em -0.2em;
    }
  }
}

em,
section {
  ::selection {
    color: $txt;
    background: $key;
  }

  a {
    font-weight: 600;
    text-decoration: underline;

    &:hover {
      color: rgba($key, 0.5);
    }
  }
}

#cad {
  position: relative;
  margin: 4px 0 10px 20px;
  float: right;
}

#redir {
  display: none;
  clear: both;
  em {
    margin: 0 5em;
    display: block;
    text-align: center;
  }
}

@media only screen and (min-width: $break_s) {
  #typewriter {
    font-size: 2em;
  }
}

@media only screen and (min-width: $break_l) {
  #typewriter {
    font-size: 3.5em;
  }
}

@media (prefers-color-scheme: dark) {
  #typewriter {
    .active {
      border-right-color: $txt;
    }
  }
  section {
    color: $txt;

    input {
      &#s1I:checked ~ nav #s1L,
      &#s2I:checked ~ nav #s2L,
      &#s3I:checked ~ nav #s3L,
      &#s4I:checked ~ nav #s4L {
        background: $key;
      }
    }

    nav {
      label {
        color: $key;
        border-color: $key;

        &:hover {
          background: fade-out($key, 0.7);
          color: $key;
        }
      }
    }

    article {
      background: $key;
    }
  }

  em,
  section {
    ::selection {
      color: $key;
      background: $txt;
    }

    a:hover {
      color: rgba($txt, 0.5);
    }
  }
}
