@import "vars";

@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local("Source Sans Pro Regular"), local("SourceSansPro-Regular"), url("/fnt/source-sans-pro-v14-latin-regular.woff2") format("woff2"), url("/fnt/source-sans-pro-v14-latin-regular.woff") format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: local("Source Sans Pro Bold"), local("SourceSansPro-Bold"), url("/fnt/source-sans-pro-v14-latin-600.woff2") format("woff2"), url("/fnt/source-sans-pro-v14-latin-600.woff") format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
  scrollbar-color: fade-out($txt, 0.5) fade-out($txt, 0.3);
  scrollbar-width: thin;
  background: $key;
  /*background: radial-gradient(circle, transparent 20%, $key 20%, $key 80%, transparent 80%, transparent),
    radial-gradient(circle, transparent 20%, $key 20%, $key 80%, transparent 80%, transparent) -30px -30px,
    linear-gradient(lighten($key, 20) 2px, transparent 2px) 0 -1px,
    linear-gradient(90deg, lighten($key, 20) 2px, #ffe70b 2px) -1px 0;
  background-size: 500px 500px, 500px 500px, 250px 250px, 250px 250px;*/
}

body {
  padding: 0 5%;
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;

  max-width: 740px;
  margin: 8vh auto;
  overflow-y: overlay;
}

::selection {
  text-shadow: none;
  background: $txt;
  color: $key;
}

::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-track {
  background: fade-out($txt, 0.3);
}

::-webkit-scrollbar-thumb {
  background: fade-out($txt, 0.5);
}

::-webkit-scrollbar-thumb:active {
  background: $txt;
}

p {
  margin-top: 0.5em;
  line-height: 1.6em;
  &.bigger {
    font-size: 1.3em;
  }
}

h2,
h3,
h4 {
  margin-top: 1.5em;
  margin-bottom: 0;
}

a {
  color: currentColor;
  text-decoration: none;
  font-weight: 600;
}

.badge {
  display: inline-block;
  white-space: nowrap;
  line-height: 1em;
  font-weight: 600;
  overflow: hidden;

  span,
  a {
    color: $alt;
    display: inline-block;
    padding: 0.5em 0.7em 0.5em 0;
    z-index: 1;
  }
  span {
    pointer-events: none;
  }

  background: $txt;
  &.gray,
  & .gray {
    background: $gray !important;
  }
  &.blue,
  & .blue {
    background: $blue !important;
  }
}
a.badge,
.badge a {
  &:hover {
    filter: brightness(80%);
  }
}

.tri,
.badge :first-child {
  position: relative;
  padding-left: 0.6em;
  padding-right: 0.5em;
  margin-right: 0.8em;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: -1em;
    width: 2em;
    height: 2em;
    transform: scale(0.3, 0.707) rotate(45deg);
    z-index: -1;
    background-color: inherit;
  }

  background: $txt;
}

em {
  font-style: normal;
  background: $txt;
  color: $key;
  padding: 0.2em 0.5em;
  font-size: 0.85em;
  font-weight: 600;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;

  &.tri:after {
    $d: 1.65em;
    width: $d !important;
    height: $d !important;
    right: -$d/2 !important;
  }

  background: $txt;
}

header,
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 30px 0;
  clear: both;
}

header svg {
  margin-right: 4px;
}

footer {
  hr {
    margin: 5px 0;
    border: none;
    flex-basis: 100%;
    height: 1.5px;
    background: rgba(0, 0, 0, 1);
  }
  font-size: 0.8rem;
  line-height: 1em;
  * {
    align-self: flex-end;
  }
}

.err {
  text-align: center;
  margin: 2em 0;
  em {
    line-height: 2em;
    font-size: 2em;
    margin: 1em 1em 1em 0.7em;
  }
  p {
    margin: 2em;
  }
}

#cad {
  position: relative;
  width: 130px;
  margin: auto;
  min-height: 100px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  flex-direction: column;
  line-height: 1.4;

  background-image: repeating-linear-gradient(0deg, $txt, $txt 1.4em, transparent 1.4em, transparent 2.2em, $txt 2.2em), repeating-linear-gradient(90deg, $txt, $txt 1.4em, transparent 1.4em, transparent 2.2em, $txt 2.2em),
    repeating-linear-gradient(180deg, $txt, $txt 1.4em, transparent 1.4em, transparent 2.2em, $txt 2.2em), repeating-linear-gradient(270deg, $txt, $txt 1.4em, transparent 1.4em, transparent 2.2em, $txt 2.2em);
  background-size: 4px 100%, 100% 4px, 4px 100%, 100% 4px;
  background-position: 0 0, 0 0, 100% 0, 0 100%;
  background-repeat: no-repeat;

  #cad-blocked {
    padding: 1em;
    font-size: 0.85em;
    text-align: center;
    display: none;
  }

  &.blocked {
    opacity: 0.5;
    #cad-blocked {
      display: block;
    }
  }
}

#carbonads {
  top: 0;
  display: flex;
  float: right;
  max-width: 130px;
  background-color: #fff;
  font-size: 11px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;

  & * {
    margin: initial;
    padding: initial;
  }

  & a {
    color: #111;
    text-decoration: none;
    font-weight: 500;
  }

  & a:hover {
    color: #111;
  }

  & .carbon-img {
    display: block;
    margin-bottom: 8px;
    max-width: 130px;
    line-height: 1;
  }

  & .carbon-img img {
    display: block;
    margin: 0 auto;
    max-width: 130px;
    width: 130px;
    height: auto;
  }

  & .carbon-text {
    display: block;
    padding: 0 10px 8px;
    text-align: left;
    line-height: 1.35;
  }

  & .carbon-poweredby {
    display: block;
    padding: 10px;
    background: repeating-linear-gradient(-45deg, transparent, transparent 5px, hsla(0, 0%, 0%, 0.025) 5px, hsla(0, 0%, 0%, 0.025) 10px) hsla(203, 11%, 95%, 0.4);
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 600;
    font-size: 8px;
    line-height: 0;
  }
}

#oc {
  display: none;
  margin-right: 3px;
}

@media only screen and (min-width: $break-s) {
  #oc {
    display: inline-block;
  }
}

@media only screen and (min-width: $break-m) {
  .err {
    margin: 3em 0 4em;
    em {
      min-width: 330px;
      font-size: 3em;
    }
    p {
      margin: 3em;
    }
  }

  #cad {
    width: 330px;
    height: 100px;
    background-image: repeating-linear-gradient(0deg, $txt, $txt 1.4em, transparent 1.4em, transparent 2.4em, $txt 2.4em), repeating-linear-gradient(90deg, $txt, $txt 1.4em, transparent 1.4em, transparent 2.4em, $txt 2.4em),
      repeating-linear-gradient(180deg, $txt, $txt 1.4em, transparent 1.4em, transparent 2.4em, $txt 2.4em), repeating-linear-gradient(270deg, $txt, $txt 1.4em, transparent 1.4em, transparent 2.4em, $txt 2.4em);
    background-size: 4px 100%, 100% 4px, 4px 100%, 100% 4px;
  }

  #carbonads {
    max-width: 330px;
  }

  #carbonads .carbon-wrap {
    display: flex;
    flex-direction: row;
  }

  #carbonads .carbon-img {
    margin: 0;
  }

  #carbonads .carbon-text {
    padding: 10px 10px 0 10px;
    font-size: 12px;
  }

  #carbonads .carbon-poweredby {
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 0;
    border-top-left-radius: 3px;
    text-align: center;
  }
}
