@import "vars";

/* source-sans-3-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 400;
  src: url('/fnt/source-sans-3-v9-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* source-sans-3-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 600;
  src: url('/fnt/source-sans-3-v9-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


html {
  scrollbar-color: fade-out($txt, 0.5) fade-out($txt, 0.3);
  scrollbar-width: thin;
  background: $key;
}

body {
  padding: 0 5%;
  font-family: "Source Sans 3", Arial, Helvetica, sans-serif;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;

  max-width: 740px;
  margin: 6vh auto;
  overflow-y: overlay;
}

::selection {
  text-shadow: none;
  background: $txt;
  color: $key;
}

::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-track {
  background: fade-out($txt, 0.3);
}

::-webkit-scrollbar-thumb {
  background: fade-out($txt, 0.5);
}

::-webkit-scrollbar-thumb:active {
  background: $txt;
}

svg {
  fill: currentColor;
}

p {
  margin-top: 0.5em;
  line-height: 1.6em;

  &.bigger {
    font-size: 1.3em;
  }
}

h2,
h3,
h4 {
  margin-top: 1.5em;
  margin-bottom: 0;
}

a {
  color: currentColor;
  text-decoration: none;
  font-weight: 600;
  text-decoration-thickness: 1.4px;
  text-underline-offset: 1px;
}

.badge {
  display: inline-block;
  white-space: nowrap;
  line-height: 1em;
  font-weight: 600;
  overflow: hidden;

  span,
  a {
    color: $alt;
    display: inline-block;
    padding: 0.5em 0.7em 0.5em 0;
    z-index: 1;
  }

  span {
    pointer-events: none;
  }

  background: $txt;

  &.gray,
  & .gray {
    background: $gray !important;
  }

  &.blue,
  & .blue {
    background: $blue !important;
  }
}

a.badge,
.badge a {
  &:hover {
    filter: brightness(80%);
  }
}

.tri,
.badge :first-child {
  position: relative;
  padding-left: 0.6em;
  padding-right: 0.5em;
  margin-right: 0.8em;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: -1em;
    width: 2em;
    height: 2em;
    transform: scale(0.3, 0.707) rotate(45deg);
    z-index: -1;
    background-color: inherit;
  }

  background: $txt;
}

em {
  font-style: normal;
  background: $txt;
  color: $key;
  padding: 0.2em 0.5em;
  font-size: 0.85em;
  font-weight: 600;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;

  &.tri:after {
    $d: 1.65em;
    width: $d !important;
    height: $d !important;
    right: -$d/2 !important;
  }
}

header,
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 30px 0;
  clear: both;
}

header svg {
  margin-right: 4px;
}

footer {
  hr {
    margin: 5px 0;
    border: none;
    flex-basis: 100%;
    height: 1.5px;
    background: $txt;
  }

  font-size: 0.8rem;
  line-height: 1em;

  * {
    align-self: flex-end;
  }
}

.err {
  text-align: center;
  margin: 2em 0;

  em {
    line-height: 2em;
    font-size: 2em;
    margin: 1em 1em 1em 0.7em;
  }

  p {
    margin: 2em;
  }
}

#oc {
  display: none;
  margin-right: 3px;
}

@media only screen and (min-width: $break_s) {
  #oc {
    display: inline-block;
  }
}

@media only screen and (min-width: $break_m) {
  .err {
    margin: 3em 0 4em;

    em {
      min-width: 330px;
      font-size: 3em;
    }

    p {
      margin: 3em;
    }
  }

}

@media (prefers-color-scheme: dark) {
  html {
    scrollbar-color: fade-out($key, 0.5) fade-out($key, 0.8);
    background: $txt;
    color: $key;
  }

  ::selection {
    background: $key;
    color: $txt;
  }

  ::-webkit-scrollbar-track {
    background: fade-out($key, 0.8);
  }

  ::-webkit-scrollbar-thumb {
    background: fade-out($key, 0.5);
  }

  ::-webkit-scrollbar-thumb:active {
    background: $key;
  }

  em {
    background: $key;
    color: $txt;
  }

  .tri {
    background: $key;
  }

  .badge {
    &, :first-child {
      background: $dark;
    }
  }

  footer {
    hr {
      background: $key;
    }

  }

}