@import "vars";

#xad {
    &.responsive {
        float: right;
        margin-left: .6em;
        margin-bottom: .8em;

    }

    #xad-blocked {
        padding: 1em;
        font-size: 0.85em;
        text-align: center;
        display: none;
    }

    &.blocked {
        opacity: 0.6;
        position: relative;
        width: 170px;
        margin: auto;
        min-height: 100px;
        font-weight: 600;
        display: flex;
        justify-content: center;
        flex-direction: column;
        line-height: 1.4;

        &.responsive {

            margin: .5em 0 .5em 2em;
        }

        background-image:
        repeating-linear-gradient(0deg, $txt, $txt 1.4em, transparent 1.4em, transparent 2.4em, $txt 2.4em),
        repeating-linear-gradient(90deg, $txt, $txt 1.4em, transparent 1.4em, transparent 2.4em, $txt 2.4em),
        repeating-linear-gradient(180deg, $txt, $txt 1.4em, transparent 1.4em, transparent 2.4em, $txt 2.4em),
        repeating-linear-gradient(270deg, $txt, $txt 1.4em, transparent 1.4em, transparent 2.4em, $txt 2.4em);
        background-size: 4px 100%,
        100% 4px,
        4px 100%,
        100% 4px;
        background-position: 0 0,
        0 0,
        100% 0,
        0 100%;
        background-repeat: no-repeat;

        #xad-blocked {
            display: block;

            a {
                text-decoration: underline;
            }
        }
    }
}

#ethicalads_main {
    .ea-content {
        margin-top: 0;
        margin-right: 0;
    }

    .ea-callout {
        margin-right: 0;
        margin-bottom: 0;
    }
}

#carbonads {
    position: relative;
    margin: auto;
    top: 0;
    display: flex;
    max-width: 130px;
    background-color: #fff;
    font-size: 11px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;

    #xad.responsive & {

        margin: .5em 0 0 1em;
    }

    & * {
        margin: initial;
        padding: initial;
    }

    & a {
        color: #111;
        text-decoration: none;
        font-weight: 500;
    }

    & a:hover {
        color: #111;
    }

    & .carbon-img {
        display: block;
        margin-bottom: 8px;
        max-width: 130px;
        line-height: 1;
    }

    & .carbon-img img {
        display: block;
        margin: 0 auto;
        max-width: 130px;
        width: 130px;
        height: auto;
    }

    & .carbon-text {
        display: block;
        padding: 0 10px 8px;
        text-align: left;
        line-height: 1.35;
    }

    & .carbon-poweredby {
        display: block;
        padding: 10px;
        background:
            repeating-linear-gradient(-45deg, transparent, transparent 5px, hsla(0, 0%, 0%, 0.025) 5px, hsla(0, 0%, 0%, 0.025) 10px) hsla(203, 11%, 95%, 0.4);
        text-transform: uppercase;
        letter-spacing: 0.5px;
        font-weight: 600;
        font-size: 8px;
        line-height: 0;
    }
}

@media only screen and (min-width: $break_l) {

    #xad {
        &.responsive {

            .ea-content {
                max-width: 320px !important;

                .ea-text {
                    margin-top: 0em;
                    text-align: left;
                    overflow: auto;
                }

                a img {
                    float: left;
                    margin-right: 1em;
                }
            }

            .ea-callout {
                max-width: 320px !important;
                text-align: right;
            }

            #carbonads {
                max-width: 330px;

                & .carbon-wrap {
                    display: flex;
                    flex-direction: row;
                }

                & .carbon-img {
                    margin: 0;
                }

                & .carbon-text {
                    padding: 10px 10px 0 10px;
                    font-size: 12px;
                }

                & .carbon-poweredby {
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    border-radius: 0;
                    border-top-left-radius: 3px;
                    text-align: center;
                }
            }


        }
    }

}




@media only screen and (min-width: $break-l) {
    #xad.blocked {
        width: 330px;
        height: 100px;
    }
}


@media (prefers-color-scheme: dark) {
    #xad.blocked {
        background-image:
            
        repeating-linear-gradient(0deg, $key, $key 1.4em, transparent 1.4em, transparent 2.4em, $key 2.4em),
        repeating-linear-gradient(90deg, $key, $key 1.4em, transparent 1.4em, transparent 2.4em, $key 2.4em),
        repeating-linear-gradient(180deg, $key, $key 1.4em, transparent 1.4em, transparent 2.4em, $key 2.4em),
        repeating-linear-gradient(270deg, $key, $key 1.4em, transparent 1.4em, transparent 2.4em, $key 2.4em);
    }

}