<!DOCTYPE html>
<!--[if IE 8]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js {% if page.bg %}bg{% endif %}" lang="en">
<!--<![endif]-->
<head>

   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
   <title>JS.ORG | DNS</title>
   <meta name="description" content="Free and short JS.ORG domains for GitHub Pages">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="google-site-verification" content="FP5qQSG0Fx5uZ0_mpsUBwbI6lqzkxu1SXuoZjWuP0hU" />
   <!-- page generated {{ site.time | date_to_rfc822 }} -->
   {% include icon.html %}
   {% include ie8.html %}
   {% include style.html %}
   <script>var doc = document.documentElement; doc.className = doc.className.replace("no-js", "");</script>

</head>
<body>
   {% include header.html %}
   {{ content }}
   {% include footer.html %}
   <link href="css/dns.css" rel="stylesheet" />{% if page.zodiac %}
   <canvas id="zodiac" class="btf"></canvas>
   <script src="js/zodiac.min.js"></script>{% endif %}{% if page.hermes %}
   <script src="js/hermes.min.js"></script>
   {% endif %}
   <script>
      {% if page.ghstars %}{% include ghstars.html %}{% endif %}
      {% include GA.html %}
   </script>
</body>
</html>
